user_data.db
roles.db
persistent_views.json
Files/Tags/1090670011556823151/workie.txt
Files/Tags/1090670011556823151/test.txt
Files/Tags/1090670011556823151/pppppp.txt
Files/Tags/1090670011556823151/pipi.txt
Files/Tags/1090670011556823151/jj.txt
Files/Tags/1090670011556823151/gg.txt
Files/Tags/1090670011556823151/col.txt
Files/modmail_threads.db
Files/json/Secrets.json
Files/json/Secrets - Copy.json
Files/json/reaction_roles.json
Files/json/rank_roles.json
Files/json/discord_channels.json
Files/Config/1090670011556823151.json
Files/banned_users.json
discord.log
cogs/__pycache__/tags.cpython-312.pyc
cogs/__pycache__/role_reaction.cpython-312.pyc
cogs/__pycache__/rank_roles.cpython-312.pyc
cogs/__pycache__/moderation.cpython-312.pyc
cogs/__pycache__/mod_mail.cpython-312.pyc
cogs/__pycache__/manage_commands.cpython-312.pyc
cogs/__pycache__/event_listeners.cpython-312.pyc
cogs/__pycache__/context_menu.cpython-312.pyc
cogs/__pycache__/boost_rewards.cpython-312.pyc
__pycache__/util.cpython-312.pyc
.idea/vcs.xml
.idea/sqldialects.xml
.idea/Safety Mole.iml
.idea/pyright-overrides.xml
.idea/modules.xml
.idea/misc.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/dataSources.xml
.idea/codeStyles/codeStyleConfig.xml
.idea/.name
